name: Build and release

on:
  schedule:
    - cron:  '0 0 1 * *'
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Update submodules
        run: |
          git config user.name "github-actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git submodule foreach git pull origin master
          git add .
          git commit -m "Update submodules"
          git push origin master

      - name: Install premake4
        run: |
          sudo apt-get update
          sudo apt-get install premake4 -y
      
      - name: Build
        run: |
          cd bootil/projects && premake4 gmake
          cd linux/gmake && make -j4
          cd ../../../../gmad && premake4 --bootil_lib="../bootil/lib/linux/gmake/" --bootil_inc="../bootil/include" gmake
          make -j4
          ./gmad_linux --help >/dev/null
      
      - name: Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.RELEASE_TOKEN }}"
          prerelease: false
          automatic_release_tag: "latest"
          title: "gmad_linux build"
          files: |
            gmad/gmad_linux